workflows/client-onboarding-automation.json
{
  "name": "Client Onboarding Automation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "New Client Onboarding Form",
        "formDescription": "Please complete this form so we can create your project workspace, prepare onboarding tasks, and start your client setup process.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Client Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Client Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Company Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Service Package",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Basic"
                  },
                  {
                    "option": "Standard"
                  },
                  {
                    "option": "Premium"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Start Date",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Notes",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "93c356ce-ea9f-4a8c-a2e6-c52ea43df8eb",
      "name": "On form submission",
      "webhookId": "6a03e801-1e18-416f-9534-259da7d67ceb"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json[\"Company Name\"] }} - {{ $json[\"Client Name\"] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "10Mk-m6FwzJjN3ItB-MhWH7scbhlMXMWY",
          "mode": "list",
          "cachedResultName": "clients-n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/10Mk-m6FwzJjN3ItB-MhWH7scbhlMXMWY"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        128,
        -112
      ],
      "id": "7fa72826-295e-41d3-9939-1968dbe34333",
      "name": "Create folder"
    },
    {
      "parameters": {
        "listId": "6a0b724367f10e7d2905818b",
        "name": "={{ $('On form submission').item.json[\"Company Name\"] }} - {{ $('On form submission').item.json[\"Client Name\"] }}",
        "description": "=Client Name: {{ $('On form submission').item.json[\"Client Name\"] }}\nEmail: {{ $('On form submission').item.json[\"Client Email\"] }}\nCompany: {{ $('On form submission').item.json[\"Company Name\"] }}\nPackage: {{ $('On form submission').item.json[\"Service Package\"] }}\nStart Date: {{ $('On form submission').item.json[\"Start Date\"] }}\nNotes: {{ $('On form submission').item.json[\"Notes\"] }}\n\nGoogle Drive Folder ID:\n{{ $('Create folder').item.json[\"id\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        256,
        -16
      ],
      "id": "8d72aa27-6e15-4202-bb4b-2e70bfdae476",
      "name": "Create a card"
    },
    {
      "parameters": {
        "resource": "checklist",
        "operation": "create",
        "cardId": {
          "__rl": true,
          "value": "={{ $('Create a card').item.json.id }}",
          "mode": "id"
        },
        "name": "Client Onboarding Checklist",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        400,
        -112
      ],
      "id": "b2e81e12-f17d-4ce3-9269-b35e20f1f44c",
      "name": "Create a checklist"
    },
    {
      "parameters": {
        "resource": "checklist",
        "operation": "createCheckItem",
        "checklistId": "={{ $('Create a checklist').item.json.id }}",
        "name": "Create invoice draft",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        688,
        -112
      ],
      "id": "898ccdc0-91c4-4d8b-a395-5610d9819760",
      "name": "Add checklist item - Create invoice draft"
    },
    {
      "parameters": {
        "resource": "checklist",
        "operation": "createCheckItem",
        "checklistId": "={{ $('Create a checklist').item.json.id }}",
        "name": "Schedule kickoff call",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        848,
        -48
      ],
      "id": "a70d3a55-f949-404d-b0f4-cbf6e0875a08",
      "name": "Schedule kickoff call"
    },
    {
      "parameters": {
        "resource": "checklist",
        "operation": "createCheckItem",
        "checklistId": "={{ $('Create a checklist').item.json.id }}",
        "name": "Request brand assets",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        1008,
        -128
      ],
      "id": "9cdfa36e-b454-4451-92a0-b32e87d422da",
      "name": "Request brand assets"
    },
    {
      "parameters": {
        "resource": "checklist",
        "operation": "createCheckItem",
        "checklistId": "={{ $('Create a checklist').item.json.id }}",
        "name": "Confirm project scope",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        1168,
        -48
      ],
      "id": "e1a8fb3f-674d-4bf3-9695-8aaab90cc1bc",
      "name": "Confirm project scope"
    },
    {
      "parameters": {
        "resource": "checklist",
        "operation": "createCheckItem",
        "checklistId": "={{ $('Create a checklist').item.json.id }}",
        "name": "Send contract",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        544,
        -32
      ],
      "id": "17e075b5-bd4e-479e-9e22-cc58fb123c9d",
      "name": "Send contract"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Client Email'] }}",
        "subject": "=Welcome to your project, {{ $('On form submission').item.json[\"Client Name\"] }}!",
        "emailType": "text",
        "message": "=Hi {{ $('On form submission').item.json[\"Client Name\"] }},\n\nWelcome aboard! We're excited to start working with you.\n\nWe've created your project workspace and onboarding checklist. Here are the next steps:\n\n1. Review and sign the contract\n2. Share your brand assets and project materials\n3. Confirm the project scope\n4. Schedule the kickoff call\n5. Complete the initial invoice/payment step\n\nProject folder:\nhttps://drive.google.com/drive/folders/{{ $('Create folder').item.json[\"id\"] }}\n\nBest regards,\nYour Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1312,
        -128
      ],
      "id": "65293bf4-7818-4553-82ab-4915d98e30c1",
      "name": "send welcome emali",
      "webhookId": "ac937a12-e9d8-4a67-9c69-461d03bf382d"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1d1EvOrW2vABhTMgVYUk2sLph_7ip5NvmVd0R6S9cbvc",
          "mode": "list",
          "cachedResultName": "Client Onboarding CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d1EvOrW2vABhTMgVYUk2sLph_7ip5NvmVd0R6S9cbvc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d1EvOrW2vABhTMgVYUk2sLph_7ip5NvmVd0R6S9cbvc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client Name": "={{ $('On form submission').item.json['Client Name'] }}",
            "Client Email": "={{ $('On form submission').item.json['Client Email'] }}",
            "Company Name": "={{ $('On form submission').item.json['Company Name'] }}",
            "Service Package": "={{ $('On form submission').item.json['Service Package'] }}",
            "Start Date": "={{ $('On form submission').item.json['Start Date'] }}",
            "Invoice Status": "Draft",
            "Amount": "={{ $('On form submission').item.json[\"Service Package\"] === \"Basic\" ? 500 : $('On form submission').item.json[\"Service Package\"] === \"Standard\" ? 1000 : 2000 }}",
            "Drive Folder Link": "=https://drive.google.com/drive/folders/{{ $('Create folder').item.json[\"id\"] }}",
            "Trello Card Link": "={{ $('Create a card').item.json[\"url\"] }}",
            "Onboarding Status": "Started",
            "Created At": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service Package",
              "displayName": "Service Package",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Start Date",
              "displayName": "Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Status",
              "displayName": "Invoice Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Drive Folder Link",
              "displayName": "Drive Folder Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trello Card Link",
              "displayName": "Trello Card Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Onboarding Status",
              "displayName": "Onboarding Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created At",
              "displayName": "Created At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1456,
        -48
      ],
      "id": "4df0e8dd-e71d-40ae-a2a4-0c65e7ec0bcd",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "sendTo": "barmaramirali@gmail.com",
        "subject": "=New client onboarded: {{ $('On form submission').item.json[\"Company Name\"] }}",
        "emailType": "text",
        "message": "=New client onboarding completed.\n\nClient: {{ $('On form submission').item.json[\"Client Name\"] }}\nEmail: {{ $('On form submission').item.json[\"Client Email\"] }}\nCompany: {{ $('On form submission').item.json[\"Company Name\"] }}\nPackage: {{ $('On form submission').item.json[\"Service Package\"] }}\nStart Date: {{ $('On form submission').item.json[\"Start Date\"] }}\n\nGoogle Drive Folder:\nhttps://drive.google.com/drive/folders/{{ $('Create folder').item.json[\"id\"] }}\n\nTrello Card:\n{{ $('Create a card').item.json[\"url\"] }}\n\nCRM Status:\nAdded to Google Sheets\n\nNext step:\nReview onboarding checklist and follow up with the client.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1600,
        -128
      ],
      "id": "3c0a3afc-7034-4652-9653-dfc4db037894",
      "name": "Internal Notification",
      "webhookId": "bc570729-d423-40b2-8200-67d121d10d9f"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Client Name": "Ali Ahmadi",
          "Client Email": "barmaramirali@gmail.com",
          "Company Name": "Ali Studio",
          "Service Package": "Standard",
          "Start Date": "2026-05-20",
          "Notes": "Needs website onboarding",
          "submittedAt": "2026-05-18T15:49:18.856-04:00",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Create a card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a card": {
      "main": [
        [
          {
            "node": "Create a checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a checklist": {
      "main": [
        [
          {
            "node": "Send contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send contract": {
      "main": [
        [
          {
            "node": "Add checklist item - Create invoice draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add checklist item - Create invoice draft": {
      "main": [
        [
          {
            "node": "Schedule kickoff call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule kickoff call": {
      "main": [
        [
          {
            "node": "Request brand assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request brand assets": {
      "main": [
        [
          {
            "node": "Confirm project scope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm project scope": {
      "main": [
        [
          {
            "node": "send welcome emali",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send welcome emali": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Internal Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "bLfki1PKAGk47SAh"
  },
  "versionId": "480df44a-e3ad-44de-bfdd-647773896ab1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e5f19ad74b15f0d10c254b97d84ed6e250c760460bfa724ad81dd330cfbc2a17"
  },
  "id": "UpDbiobLOOIMeNm7",
  "tags": []
}